<ic-navbar></ic-navbar>
<form [formGroup]="createWorkspace">
<div class="container-fluid">
    <div class="row flex-display">
        <div class="col map-display">
            <p-card class="card resourceMap">
                <h3 *ngIf="mode === 'create'">Create New Workspace </h3>
                <h3 *ngIf="mode === 'edit'">Edit Workspace </h3>
                <mat-grid-list cols={{cols}} rowHeight="5em">    
                    <mat-grid-tile *ngFor="let a of colsArr; let index = index" [style.opacity]="checkOpacity(index)">
                        <img #img src="{{getGridImg(colsArr[index])}}" height="60" (click)="openContextMenu($event,contextMenu,index)"/>
                    </mat-grid-tile>
                    <!-- <p-contextMenu [model]="items" appendTo="body"></p-contextMenu> -->
                    <!-- <mat-grid-tile *ngFor="let a of colsArr; let index = index">{{index}}</mat-grid-tile> -->
                </mat-grid-list>
            </p-card>
        </div>
        <div class="col dtl-display">
            <form [formGroup]="createWorkspace">
                <p-card class="card ">
                    <h3>Workspace Details</h3>
                    <label>Facility Type</label> 
                    <p-dropdown 
                        formControlName ="gp"
                        class="input-field"
                        [options]="gpOptions"
                        placeholder="Select Facility"
                        [style]="{'width': '100%'}"
                    >
                    </p-dropdown>
                    <small class="errorMsg" *ngIf="(createWorkspace.get('gp')?.touched || createWorkspace.get('gp')?.dirty) && createWorkspace.get('gp')?.value.length == 0"><br/>*Please enter facility type</small>
                    <br>
                    <br>
                    <label>Facility Name</label> 
                    <input pInputText formControlName="sub_gp" class="input-field" type="text" [style]="{'width': '100%'}"/>
                    <small class="errorMsg" *ngIf="(createWorkspace.get('sub_gp')?.touched || createWorkspace.get('sub_gp')?.dirty) && createWorkspace.get('sub_gp')?.value.length == 0"><br/>*Please enter facility name</small>
                    <br>
                    <br>
                    <p-button label="SAVE" styleClass="p-button-success right-margin" (onClick)="createFacility()"></p-button>
                    <p-button label="RESET" styleClass="p-button-secondary right-margin" (onClick)="cancel()"></p-button>
                </p-card>

            </form>
        </div>
    </div>
</div>
</form>


<p-contextMenu #contextMenu [model]="items" appendTo="body"></p-contextMenu>