<ic-navbar></ic-navbar>
<div class="container-fluid">
    <div class="row flex-display">
        <div class="col map-display">
            <p-card class="card resourceMap">
                <h3>Create New Workspace </h3>
                <mat-grid-list cols={{cols}} rowHeight="5em">    
                    <mat-grid-tile *ngFor="let a of colsArr; let index = index">
                        <img #img src="{{getGridImg(colsArr[index])}}" height="60" (click)="openContextMenu($event,contextMenu,index)"/>
                    </mat-grid-tile>
                    <!-- <p-contextMenu [model]="items" appendTo="body"></p-contextMenu> -->
                    <!-- <mat-grid-tile *ngFor="let a of colsArr; let index = index">{{index}}</mat-grid-tile> -->
                </mat-grid-list>
            </p-card>
        </div>
        <div class="col dtl-display ">
            <p-card class="card ">
                <h3>Workspace Details</h3>
                <ng-template pTemplate="body" >
                    
                    <span class="card">
                        <label>Name</label> 
                        <input pInputText class="input-field" type="text" />
                    </span>
                    <br>
                    <span class="card">
                        <label>Type</label> 
                        <input pInputText class="input-field" type="text" />
                    </span>
                    <br>
                    <span class="card">
                        <label>Location</label>
                    <input pInputText class="input-field" type="text" />
                    </span>
                    <span class="card">
                        <label>Status</label> 
                        <input pInputText class="input-field" type="text" />
                    </span>
                    <br>
                    <p-button label="SAVE" styleClass="p-button-primary"></p-button>
                    <p-button label="CANCEL" styleClass="p-button-outlined p-button-danger"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>

<p-contextMenu #contextMenu [model]="items" appendTo="body"></p-contextMenu>