<ic-navbar></ic-navbar>
<form [formGroup]="createWorkspace">
<div class="container-fluid">
    <div class="row flex-display">
        <div class="col map-display">
            <p-card class="card resourceMap">
                <h3>Create New Workspace </h3>
                <mat-grid-list cols={{cols}} rowHeight="5em">    
                    <mat-grid-tile *ngFor="let a of colsArr; let index = index">
                        <img #img src="{{getGridImg(colsArr[index])}}" height="60" (click)="openContextMenu($event,contextMenu,index)"/>
                        <p-contextMenu #contextMenu [target]="img" [model]="items" appendTo="body"></p-contextMenu>
                    </mat-grid-tile>
                    <!-- <p-contextMenu [model]="items" appendTo="body"></p-contextMenu> -->
                    <!-- <mat-grid-tile *ngFor="let a of colsArr; let index = index">{{index}}</mat-grid-tile> -->
                </mat-grid-list>
            </p-card>
        </div>
        <div class="col dtl-display ">
            <p-card class="card ">
                <h3>Workspace Details</h3>
                <ng-template pTemplate="body" >
                    
                    <span class="card">
                        <label>Facility Type</label> 
                        <input formControlName="fType" pInputText class="input-field" type="text" [(ngModel)]="newFacility.fType"/>
                        <small class="errorMsg" *ngIf="(createWorkspace.get('fType')?.touched || createWorkspace.get('fType')?.dirty) && createWorkspace.get('fType')?.value.length == 0"><br/>*Please enter facility type</small>
                    </span>
                    <br>
                    <span class="card">
                        <label>Facility/Room Name</label> 
                        <input formControlName="fName" pInputText class="input-field" type="text" [(ngModel)]="newFacility.fName"/>
                        <small class="errorMsg" *ngIf="(createWorkspace.get('fName')?.touched || createWorkspace.get('fName')?.dirty) "><br/>*Please enter facility type</small>
                    </span>
                    <br>
                    <span class="card">
                        <label>Seat Name</label>
                    <input formControlName="name" pInputText class="input-field" type="text" [(ngModel)]="newFacility.name"/>
                    </span>
                    <span class="card">
                        <label>Status</label> 
                        <input formControlName="status" pInputText class="input-field" type="text" [(ngModel)]="newFacility.status"/>
                    </span>
                    <br>
                    <p-button label="SAVE" styleClass="p-button-primary p-button-success right-margin" (onClick)="createFacility()"></p-button>
                    <p-button label="CANCEL" styleClass="p-button-outlined p-button-danger right-margin" (onClick)="cancel()"></p-button>
                    
                    
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<p-toast></p-toast>
</form>
