:host ::ng-deep{
    .p-card .p-card-body {
        padding: none; 
    }
}


.left{
    text-align: left;
}

:host ::ng-deep {
    .p-button.right-margin{
        margin-right: 5%;
        max-height: 40px;
        max-width: fit-content;
    }
}