<div class="container-fluid "homeBg>
    <div class="row">
        <div class="col-4" style="margin-top: 10%; padding-bottom: 30%;">
            <p-card>
            <h2 class="text-center" style="margin-top: unset;"><b>Welcome To WBMS</b></h2>
            <form action="" class="mt-4 p-5" style="padding-left: 20px;">
                <h3 class="text-primary mb-3">Login</h3>
                <div class="form-floating mb-3">
                    <input type="email" pInputText class="form-control" style="margin-bottom: 5px;" id="floatingInput" placeholder="Email Address" name="email" [(ngModel)]="user.email">
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" pInputText class="form-control" style="margin-bottom: 5px;" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="!isAuthenticated">
                    <p-button label="Login" styleClass="p-button-primary" (onClick)="login()"></p-button>
                  </div>   
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="!isAuthenticated">
                    <p-button label="Sign Up" styleClass="p-button-primary" (onClick)="signUp()"></p-button>
                  </div>    
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="isAuthenticated">
                    <p-button label="Sign Out" styleClass="p-button-primary" (onClick)="signOut()"></p-button>
                  </div>            
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <p-button label="testDb" styleClass="p-button-primary" (onClick)="testDb()"></p-button>
                  </div>
            </form>
            </p-card>
            <!-- <p-toast position="center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
              <ng-template let-message pTemplate="message">
                  <div class="flex flex-column" style="flex: 1">
                      <div class="text-center">
                          <i class="pi pi-check" style="font-size: 3rem"></i>
                          <h4>{{message.summary}}</h4>
                          <p>{{message.detail}}</p>
                      </div>
                      <div class="grid p-fluid">
                          <div>
                              <button type="button" pButton (click)="onConfirm()" label="Ok" class="p-button-success"></button>
                          </div>
                      </div>
                  </div>
              </ng-template>
              </p-toast>
              <p-toast position="center" key="error" (onClose)="onReject()" [baseZIndex]="5000">
                <ng-template let-message pTemplate="message">
                    <div class="flex flex-column" style="flex: 1">
                        <div class="text-center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                            <h4>{{message.summary}}</h4>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="grid p-fluid">
                            <div>
                                <button type="button" pButton (click)="onReject()" label="Ok" class="p-button-success"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                </p-toast>
                -->
        </div>
        <!-- <div class="col-6" style="margin-top: 8%; margin-left: 13%;">
            <img src="../../assets/5541.jpg" height="673px" width="703px" style="float: right;">
        </div>  -->
    </div>
</div>
