<ic-navbar></ic-navbar>
<div class="container-fluid">
    
    <div class="row flex-display">
        <div class="col map-display">
            <p-card class="card resourceMap">
                <p-button class="float" icon="pi pi-trash" (onClick)="deleteWorkspace()"></p-button>
                <p-button class="float" icon="pi pi-pencil" (onClick)="editWorkspace()"></p-button>
                <div class="row flex-display center">
                    <div class="col card">
                        <label>Type: </label>
                        <p-dropdown 
                            appendTo="body"
                            [options]="resOptions"
                            (onChange)="getSelectedResType($event)"
                            placeholder="Select Type"
                        ></p-dropdown>
                    </div>
                    <div class="col card">
                        <label>Facility: </label>
                        <p-dropdown 
                            appendTo="body"
                            [options]="subGpOptions"
                            (onChange)="getSelectedResName($event)"
                            placeholder="Select Facility"
                        ></p-dropdown>
                    </div>
                </div>
                
                <p>Workspace map include meeting room & work desk</p>    
                <mat-grid-list cols={{cols}} rowHeight="5em">
                    <mat-grid-tile *ngFor="let a of colsArr; let index = index" [style.opacity]="checkOpacity(index)">                   
                        <img src="{{getGridImg(colsArr[index])}}" height="60" [pTooltip]="getHover(index)" (click)="selectSeat(index)"/>
                    </mat-grid-tile>
                    
                </mat-grid-list>
            </p-card>
        </div>
        <div class="col dtl-display ">
            <p-card class="card ">
                <h3>Workspace Details</h3>
                <ng-template pTemplate="body" >
                    <span class="card">
                        <label>Facility Type</label> 
                        <input pInputText class="input-field" type="text" placeholder="{{ selectedResourceDTL.gp }}" disabled />
                    </span>
                    <span class="card">
                        <label>Facility Name</label> 
                        <input pInputText class="input-field" type="text" placeholder="{{ selectedResourceDTL.subGp }}" disabled />
                    </span>
                    <br>
                    <span class="card">
                        <label>Seat</label>
                    <input pInputText class="input-field" type="text" placeholder="{{ selectedResourceDTL.name }}" disabled />
                    </span>
                    
                    <p-button label="Book" styleClass="p-button-primary" (onClick)="createBooking()" [disabled]="!showBook"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>


<p-confirmDialog #cd [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <h3 *ngIf="openCreateBookgDialog">Book Facility</h3>
        <h3 *ngIf="openDeleteWorkspaceDialog">Delete Workspace</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <div class="flex-container" *ngIf="openCreateBookgDialog">
            <label>Employee ID</label>
            <input pInputText class="input-field" type="text" placeholder="{{selectedResourceDTL.name}}" disabled />
            <div class="row" style="display: flex;">
                <div class="flex-half-container">
                    <label>Facility Type</label> 
                    <input pInputText class="input-field" type="text" placeholder="{{selectedResourceDTL.gp }}" disabled />
                </div>
                <div class="flex-half-container">
                    <label>Facility Seat</label> 
                    <input pInputText class="input-field" type="text" placeholder={{selectedResourceDTL.name}} disabled />
                </div>
            </div>  
            <div class="row" style="display: flex;">
                <div class="flex-half-container">
                    <label>Date</label> 
                    <p-calendar appendTo="body" [(ngModel)]="this.bookingDTL.date" [minDate]="currdate" [showIcon]="true"></p-calendar>
                </div>
                <div class="flex-half-container">
                    <label>Time Slot</label> 
                    <p-dropdown appendTo="body"
                            [options]="timeSlot" 
                            (onChange)="getSelectedTimeSlot($event)"
                            placeholder="Select Time"
                    ></p-dropdown>
                </div>
            </div>        
        </div>
        <div class="flex-container" *ngIf="openDeleteWorkspaceDialog">
            <p>Please enter master password to continue</p>
            <input pInputText class="input-field" type="password" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-primary" label="Cancel" (onClick)="cd.reject()"></p-button>
        <p-button styleClass="p-button-primary" label="Submit" (onClick)="cd.accept()" *ngIf="openCreateBookgDialog"></p-button>
        <p-button styleClass="p-button-primary" label="Delete" (onClick)="cd.accept()" *ngIf="openDeleteWorkspaceDialog"></p-button>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>