<ic-navbar></ic-navbar>
<div class="container-fluid" >
    <div class="flex-display">
        <div class="dtls-display">
            <h3 *ngIf="mode == 'view'">View Booking</h3>
            <p-card class="left">
                <div class ="dtls-container">
                    <div class="flex-container">
                        <label>Employee ID</label> 
                        <input pInputText class="input-field" type="text"  disabled placeholder="{{bookingDTL.employeeId}}" />
                    </div>
                </div>
                <div class ="dtls-container">
                    <div class="flex-container">
                        <label>Facility Name</label> 
                        <input pInputText class="input-field" type="text" disabled placeholder="{{bookingDTL.facilityDTO.name}}"/>
                    </div>
                    <div class="flex-container">
                        <label>Facility Type</label> 
                        <input pInputText class="input-field" type="text" disabled placeholder="{{bookingDTL.facilityDTO.gp}}"/>
                    </div>
                </div>
                <div class ="dtls-container">
                    <div class="flex-container">
                        <label>Date</label> 
                        <input pInputText class="input-field" type="text" disabled placeholder="{{ bookingDTL.dteStart | slice:0:10 }}"/>
                        <!-- <p-calendar class="input-field" appendTo="body" ngModel="bookingDTL.date" [minDate]="currdate" [showIcon]="true"></p-calendar> -->
                    </div>
                    <div class="flex-container">
                        <label>Time Slot</label> 
                        <input pInputText class="input-field" type="text" disabled placeholder="{{ bookingDTL.dteStart | slice:11:16 }} - {{ bookingDTL.dteEnd | slice:11:16 }}"/>
                        <!-- <p-dropdown appendTo="body"
                                class="input-field"
                                [options]="timeSlot" 
                                (onChange)="getSelectedTimeSlot($event)"
                                placeholder="Select Time"
                        ></p-dropdown> -->
                    </div>
                </div>        
            </p-card>
        </div>
    </div>
</div>



        
                    
