.dtls-display{
    width: 100%;
    margin: 0.5%;
}

.input-field {
    margin-top: 1.5%;
    margin-right: 2.5%;
}

.dtls-container {
    display: flex;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3%;
}