

<div class="toolbar-login" role="banner">
    <h1 style="color: white;">WELCOME TO WBMS</h1>
</div>


<div class="content" role="main">
    
    <div class="grid">
        <div class="col-5" style="background-color: #c1e1ffcb;">
            <div class="row">
                <div class="row">
                    <h1>LOGIN</h1>
                </div>
                <div class="row">
                    <input  placeholder="Email">
                </div>
                <div class="row">
                    <input  placeholder="Password">
                </div>
            </div>
        </div>    
        <div class="col">
            <div class="card highlight-card card-small" style="height: 500px;">
              <h1>img</h1>
            </div> 
        </div>

    </div>
    
    
</div>