// @import "~bootstrap/dist/css/bootstrap.css." ;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.homeBg{
  background: url(../src/assets/211609-P083E3-624.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  background-size:cover;
}

//display 
.flex-display{
  display: flex;
}

//font
.p-inputtext{
  padding: 5px;
  font-size: small;
}

.p-disabled, .p-component:disabled {
  opacity: 0.6;
  background-color: #8080803b
}

// button
.p-button-primary{
  padding: 10px;
  margin-top: 10px;
}

//tag
.p-tag{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.p-tag.p-tag-success {
  background-color: #d4edda;
  color: #08c520;
}

.p-tag.p-tag-warning {
  background-color: #fff3cd;
  color: #F59E0B;
}

.p-tag.p-tag-danger {
  background-color: #f8d7da;
  color: #ff3300;
}

.p-tag.p-tag-info {
  background-color: #d1ecf1;
  color: #07aca6;
}

.p-tag.p-tag-disable {
  background-color: #d6d8d9;
  color: #fefefe;
}


//card
.card{
  margin: 1%;
}


.overlay {
  opacity: 0.5;
  background-color: black;
}
