.navbar{
    margin: -10px;
    margin-bottom: 0;
}

.transparentBtn {
    background-color: #f8f9fa;
    border: 0;
    color: #424242;
}

.transparentBtn:enabled:hover {
    background-color: #f8f9fa;
    border: 0;
    color: #424242;
}

