.contant-layout{
    padding-top: 10px;
}

.flex-display{
    display: flex;
}

.card{
    width: 50%;
    margin: 1%;
}

.flex{
    text-align: right;
}

.input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    min-width: 40px;
}
 
.input-field {
    padding: 5px;
    font-size: small;
    padding-left: 35px;
    width: 200px;
    height: 30px;
}

.booked{
    color: rgb(32, 212, 32);
    font-weight: bold;
}

.cancel{
    color: red;
    font-weight: bold;
}

:host ::ng-deep .p-calendar {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    height: 30px;
}


:host ::ng-deep .p-calendar .p-inputtext {
    padding: 5px;
    font-size: small;
    padding-left: 10px;
    width: 150px;
}