<ic-navbar></ic-navbar>
<div class="container-fluid">
    
    <div class="row flex-display">
        <p-card class="card">
            <a>chart</a>
        </p-card>
        
        <p-card class="card">
            <a>chart2</a>
            <!-- <fusioncharts
            type="world"
            width="800"
            height="500"
            dataSource="source">
        </fusioncharts> -->
        </p-card>
    </div>

    <!-- <ng-template pTemplate="header">
        <b>today and upcoming booking </b>
        <b>passed booking might need to use search / filter by date function to get</b>
    </ng-template> -->
    <p-table [value]="booking" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '60rem'}">
        
        <ng-template pTemplate="caption" >
            <div class="flex">
                <span class="p-input-icon-left ml-auto" style="margin-right: 5px;">
                    <i class="pi pi-search"></i>
                    <input pInputText class="input-field" type="text" (input)="search_key.filterGlobal($event, 'contains')" placeholder="Search keyword" />
                    <!-- (input)="search_key.filterGlobal($event.target.value, 'contains')" -->
                </span>
                <span class="p-input-icon-left ml-auto" style="margin-right: 5px;">
                    <p-calendar [(ngModel)]="date" [showIcon]="true" placeholder="Filter Date"></p-calendar>
                </span>
                <button pButton class="p-button-outlined" style="padding-block: 0.3%; padding-left: 0.2%; padding-right: 0.2%;" icon="pi pi-filter-slash" (click)="clear(search_key)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Ws_code" style="width:20%">Workspace Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Emp_name" style="width:20%">Employee Name <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="date" style="width:20%">Date <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="time" style="width:20%">Time Slot <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="status" style="width:20%">Status <p-sortIcon field="code"></p-sortIcon></th>
                <th>Action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr>
                <td>{{ booking.Ws_code }}</td>
                <td>{{ booking.Emp_name }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <!-- <td>
                    <div [ngClass]="{'booked': booking.status === 'BOOKED', 'cancel': (booking.status === 'CANCEL') }">
                        {{booking.status}}
                    </div>
                </td> -->
                <td><p-tag class="status-tag" [value]="booking.status" [severity]="getSeverity(booking.status)"></p-tag></td>
                <td>{{ booking.action }}</td>
            </tr>
        </ng-template>
    </p-table>
    
    
    <!-- <div class="contant-layout">
        <h1>booking works!</h1>
        <h2>booking works!</h2>
        <body>
            <input type="text" pInputText placeholder="test"/>
        </body>
        <a>test</a>
        <div>
            <p-button label="Submit" [disabled]="false"></p-button>
            <p-button label="Submit" [disabled]="true"></p-button>
        </div>    
    </div> -->
    
    
</div>
