<ic-navbar></ic-navbar>
<div class="container-fluid">
    <div class="row flex-display">
        <div class="col chart-display">
            <p-card class="card">
                <a>chart</a>
            </p-card>
        </div>
        <div class="col chart-display">
            <p-card class="card">
                <a>chart2</a>
                <!-- <fusioncharts
                type="world"
                width="800"
                height="500"
                dataSource="source">
            </fusioncharts> -->
            </p-card>
        </div>
    </div>

    <!-- <ng-template pTemplate="header">
        <b>today and upcoming booking </b>
        <b>passed booking might need to use search / filter by date function to get</b>
    </ng-template> -->
    <p-table 
        #tbl
        [value]="bookingDtlDTOList" 
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '60rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['empID', 'fullname']"
        (sortFunction)="customSort($event)" 
        [customSort]="true" 
        [tableStyle]="{'min-width': '60rem'}"
    >
        
        <ng-template pTemplate="caption" >
            <div class="flex">
                <span class="p-input-icon-left ml-auto" style="margin-right: 5px;">
                    <i class="pi pi-search"></i>
                    <input pInputText class="input-field" type="text" [(ngModel)]="search_key" (input)="search_key.filterGlobal($event, 'contains')" placeholder="Search keyword" />
                    <!-- (input)="search_key.filterGlobal($event.target.value, 'contains')" -->
                </span>
                <span class="p-input-icon-left ml-auto" style="margin-right: 5px;">
                    <p-calendar appendTo="body" [(ngModel)]="date" [showIcon]="true" placeholder="Filter Date"></p-calendar>
                </span>
                <button pButton class="p-button-outlined" style="padding-block: 0.3%; padding-left: 0.2%; padding-right: 0.2%;" icon="pi pi-filter-slash" (click)="clear(search_key)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Ws_code" style="width:15%">Facility Name <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Emp_id" style="width:15%">Employee Id <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="Emp_name" style="width:20%">Employee Names <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="date" style="width:10%">Date <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="time" style="width:15%">Time Slot <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="status" style="width:15%">Status <p-sortIcon field="code"></p-sortIcon></th>
                <th style="width:10%">Action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr>
                <td>{{ booking.facilityDTO.name }}</td>
                <td>{{ booking.employeeId }}</td>
                <td>{{ booking.employeeName }}</td>
                <td>{{ booking.dteStart | slice:0:10 }}</td>
                <td>{{ booking.dteStart | slice:11:16 }} - {{ booking.dteEnd | slice:11:16 }}</td>
                <td><p-tag class="status-tag" [value]="bookingStatusEnum[booking.status]" [severity]="getSeverity(bookingStatusEnum[booking.status])"></p-tag></td>
                <td>
                    <span class="flex-display p-buttonset">
                        <!-- <p-button class="buttonSet" icon="pi pi-pencil" [routerLink]="['/booking']" [queryParams]="{mode:'edit'}"></p-button> -->
                        <p-button class="buttonSet" icon="pi pi-eye" (onClick)="onClickBooking('view', booking.id)"></p-button>
                        <p-button class="buttonSet" icon="pi pi-trash" (onClick)="deleteBooking(booking)"></p-button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



<p-confirmDialog #cd [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <h3>Delete Booking</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <div class ="dtls-container">
            <p>Confirm to delete this booking? If yes please proceed with DELETE.</p>
        </div>
        <!-- <p-card>
            
            <div class ="dtls-container">
                <div class="flex-container">
                    <label>Employee ID</label> 
                    <input pInputText class="input-field" type="text" disabled placeholder=""/>
                </div>
                <div class="flex-container">
                    <label>Facility Name</label> 
                    <input pInputText class="input-field" type="text" disabled/>
                </div>
            </div>
            <div class ="dtls-container">
                <div class="flex-container">
                    <label>Date</label> 
                    <input pInputText class="input-field" type="text" disabled/>
                </div>
                <div class="flex-container">
                    <label>Slot</label> 
                    <input pInputText class="input-field" type="text" disabled/>
                </div>
            </div>
        </p-card> -->
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-primary" label="Cancel" (onClick)="cd.reject()"></p-button>
        <p-button styleClass="p-button-primary" label="Delete" (onClick)="cd.accept()"></p-button>
    </ng-template>
</p-confirmDialog>